@{
    ViewData["Title"] = "Language Detection";
}
@model LanguageDetectionViewModel

<form asp-controller="LanguageDetection" asp-action="DetectLanguage" method="post">
    <div class="form-group">
        <label for="text">Inserisci una frase di prova</label>
        <input type="text" id="text" name="text" class="form-control" placeholder="Inserisci una frase di prova" />
    </div>
    <button type="submit" class="btn btn-primary">Analizza</button>
</form>
<br />
@if (Model != null)
{
    <div class="text-center">
        <div class="row">
            <div class="col-md-4"><b>Name</b></div>
            <div class="col-md-4"><b>Iso 6391</b></div>
            <div class="col-md-4"><b>Score</b></div>
        </div>
        <div class="row">
            <div class="col-md-4">@Model.Name</div>
            <div class="col-md-4">@Model.Iso6391Name</div>
            <div class="col-md-4">@Model.Score</div>
        </div>
    </div>
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Esempi</h1>
    <p>La vraie liberté c'est de pouvoir faire toute chose sur soi. (Francese) </p>
    <p>πάντα ῥεῖ (Greco)</p>
    <p>I can resist everything except temptation. (Inglese)</p>
    <p>Escute seu coração. Ele conhece todas as coisas. (Portoghese)</p>
    <p>Je höher wir uns erheben, um so kleiner erscheinen wir denen, welche nicht fliegen können. (Tedesco)</p>
    <p>A única diferença entre eu e um louco é que eu não sou louco. (Spagnolo)</p>
</div>