@{
    ViewData["Title"] = "Text Analisys";
}
@model TextAnalisysViewModel

<form asp-controller="TextAnalisys" asp-action="DetectSentiment" method="post">
    <div class="form-group">
        <label for="text">Inserisci una frase di prova</label>
        <input type="text" id="text" name="text" class="form-control" placeholder="Inserisci una frase di prova" />
    </div>
    <button type="submit" class="btn btn-primary">Analizza</button>
</form>
<br />
@if (Model != null)
{
    <div class="text-center">
        <div class="row">
            <div class="col-md-4"><b>Name</b></div>
            <div class="col-md-4"><b>Iso 6391</b></div>
            <div class="col-md-4"><b>Score Text Analisys</b></div>
        </div>
        <div class="row">
            <div class="col-md-4">@Model.Name</div>
            <div class="col-md-4">@Model.Iso6391Name</div>
            <div class="col-md-4">@Model.Score</div>
        </div>
    </div>
}
<br />
<div class="jumbotron">
    <h1 class="display-4">Esempi</h1>
    <p>Oggi sto proprio bene, mi sento eurofico!</p>
    <p>Giornata pesante, ho discusso tutto il giorno in ufficio e con i clienti. Sono proprio arrabbiato</p>
    <p>
        Ottimo, proprio quello che cercavo!
        Ho comprato questo correttore anche se avevo qualche dubbio…
        Siccome ho dei problemi di postura mi sono convinto a provarlo. Inizialmente mi sono fatto aiutare per metterlo, dopo poco però ho capito come si indossa e dopo 5 giorni quasi non me ne accorgo più averlo addosso.. Devo dire che mi aiuta tantissimo nello stare dritto peccato solo non averlo scoperto prima. Meglio sopra una maglietta anziché sulla pelle diretta. Si lava facilmente con acqua e sapone.
    </p>
    <p>
        Arrivato in una busta di plastica con misero foglietto istruzioni. Le cinghie sotto le braccia sono fastidiosissime, non solo, ma a livello posturale non corregge proprio nulla. Lo sconsiglio. Reso avviato
    </p>
    <p>
        Ricevuto in regalo 20 giorni fa. 10 anni che ho telefoni Apple.
        Assistenza ufficiale Apple mi riceveranno TRA UNA SETTIMANA.
        Deluso per l'ennesima volta da un'azienda che, da quando non c'è più Steve, ne azzecca una ogni cinque.
    </p>
</div>