@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cognitive Service on Container</h1>
    <p>
        Questa applicazione sta girando su @Environment.OSVersion.ToString() e la directory corrente è: @Environment.CurrentDirectory
    </p>
</div>
